*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.drakon-container{
    padding: 15px;
    height: 8rem;
    width: 16rem;
}

.drakon-container #minutesToSend{
    width: 100%;
}

h2{
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

button {
    font-size: 14px;
    margin-top: 5px;
    cursor: pointer;
    width: 100%;
}

#start{
    background-color: rgb(78, 148, 78);
    border-radius: 5px;
    outline: 0;
    border: 0;
    padding: 8px 16px;
    color: #fff;
}

#start:hover{
    background-color: green;
    box-shadow: 1px 1px 15px 2px rgb(78, 148, 78);
}

#stop{
    background-color: rgb(211, 84, 84);
    border-radius: 5px;
    outline: 0;
    border: 0;
    padding: 8px 16px;
    color: #fff;
    margin-bottom: 10px;
}

#stop:hover{
    background-color: red;
    box-shadow: 1px 1px 15px 2px rgb(211, 84, 84);
}